

header{
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin-top: 15px;
}
.ht{
    font-size: 35px;
    font-weight: bold;
    color: blue;
    cursor: not-allowed;
    display: flex;
    align-items: center;
}
.hm1{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    
}
.hm li{
    padding: 15px;
    font-size: 20px;
    color: gray;
    padding-left: 30px;

    
}
.hm li:hover{
    color: blue;
}

.btn{
    padding: 10px;
    margin-top: 20px;
    width: 110px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    
}

main{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 80px;
}
.mid{
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.mf{
    font-size: 50px;
    padding-bottom: 25PX;
}
.mc{
    color: blue;
}
.ms{
    font-size: 25px;
    padding-bottom: 25PX;
    color: gray;
}
.mtf{
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
}
.mts{
    margin-left: 10px;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.mtf:hover, .btn:hover{
 transform: scale(1.1);
box-shadow: 5PX 5PX 10PX gray;
cursor: grab;
}
.mts:hover{
    transform: scale(1.1);
box-shadow: 5PX 5PX 10PX blue;
cursor: grab;
}
.midd li{
    font-size: 25px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.x{
    font-size: 20px;
    color: gray;
}
.midd{
    padding-top: 50px;
   margin-left: 150px;
   margin-right: 150px;
   padding-bottom: 50px;
   list-style: none;
   display: flex;
   justify-content: center;
}
.bar{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 200px;
}
.x1{
    border: none;
    width: 450px;
    border-radius: 10px;
    overflow: hidden;
}
.no-outline, .clik{
    border: none;
    padding: 10px;
    font-size: 15px;
}
.clik{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    border-radius: 5px;
    background-color: blue;
    margin-left: 100px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}
.clik:hover, .x1:hover{
    box-shadow: 5px 3px 20px gray;
    cursor: grab;
    
}
.fig{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 100px;
}
.a1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.a1::first-letter{
    font-size: 45px;
}
.a2{
    font-size: 35px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.a3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: gray;
}
.a4{
    list-style: none;
    color: blue;
    columns: 2;
}

.b1{
    display: flex;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.b2{
    color: grey;
}
.tilt{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 50px;
    padding-top: 100px;
}
.y{
    margin-top: 100px;
}
