body{
    cursor: default;
}
header{
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin-top: 15px;
}
.ht{
    font-size: 35px;
    font-weight: bold;
    color: blue;
    cursor: not-allowed;
}

.hm span{
    padding: 20px;
    font-size: 25px;
    color: gray;
}
.hm span:hover{
    color: blue;
}
.hm{
    padding-top: 5PX;
}
.btn{
    padding: 10px;
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
}
main{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 80px;
}
.mid{
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.mf{
    font-size: 50px;
    padding-bottom: 25PX;
}
.mc{
    color: blue;
}
.ms{
    font-size: 25px;
    padding-bottom: 25PX;
    color: gray;
}
.mtf{
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
}
.mts{
    margin-left: 10px;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.mtf:hover, .btn:hover{
 transform: scale(1.1);
box-shadow: 5PX 5PX 10PX gray;
cursor: grab;
}
.mts:hover{
    transform: scale(1.1);
box-shadow: 5PX 5PX 10PX blue;
cursor: grab;
}